$brand-primary: darken(#428bca, 20%);

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.preformatted {
  font-family: monospace;
  white-space: pre;
}

.glyphicon-none:before {
  content: "\2122";
  color: transparent !important;
}
